

<div class="right" >
    <%var d=new Date();  %>
    <%var n=d.getDate();  %>
    <%var m=d.getMonth() + 1;  %>
    <%var o=d.getHours() ;  %>
    <%var q=d.getMinutes();  %>
  
  <p style="margin-left: 10px;">Date: <%=n%>.<%=m%> </p>
  <p style="margin-left: 10px;">Time: <%=o%>.<%=q%> </p>
  
  </div>
      