
<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/javascripts/stylesheets/style.css">


<div class="alert alert-error" role="alert">
    <h4 class="alert-heading"><%=err.message%></h4>
    <p><%= err.stack  %></p>
       

</div>