<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
</head>
<body>
    <% layout('layouts/boilerplate') -%>

    <h1>This is the settings page!</h1>
    <p>Here you can edit you user information.</p>
    <p>Work in progress</p>
    <a href="/myawareness">Go back to my awareness</a>
</body>
</html>