<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/javascripts/stylesheets/style.css">

    <title>Show</title>
</head>
<body>
    <% layout('layouts/boilerplate')-%>
    <p>This notification was created by:</p>
    <h1><%=notification.user %></h1>
    <p><%=notification.message %></p>
    <p><%=notification.group %></p>
    <div>
        <a href="/notifications/<%=notification._id%>/edit">Edit notification</a>
    </div>
    <div>
        <a href="/notifications">Go back to notifications</a>
    </div>
    <h3>Leave a comment</h3>
    <form action="" class="mb=2">
        <div>
            <label class="form-label" for="">Was this notification usefull?</label>
            <input class="form-range" type="range" min="!" max="10" name="review[usefullRating]" id="rating">
        </div>
        <div>
            <label class="form-label" for="">Comments</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="2"></textarea>
        </div>
        <button class="btn btn-success mt-4">Submit</button>
    </form>
</body>
</html>