/* The sidebar menu */
.info {
  height:100px; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 10;
    margin-top: 700px;
    margin-left: -280px;
    text-decoration: rgb(0, 0, 0);
    color: rgb(172, 172, 172);
    background-color: rgba(135, 207, 235, 0);
}

.right{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 10;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 0px;
  margin-left: 990px;
  border-left-style: solid;
  border-color: #1d867e;
  border-width: 1px;
  border-radius: 5x;
  background-color: rgba(135, 207, 235, 0);
}



.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 10;
    background-color: rgb(255, 255, 255); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 0px;
    margin-left: -250px;
    border-right-style: solid;
    border-color: #1d867e;
    border-width: 1px;
    border-radius: 5x;
    background-color: rgba(135, 207, 235, 0);
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none  ;
    font-size: 18px;
    color: #696969;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #1d6d60;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 1500px) {
    /* The sidebar menu */
.sidenav {
  height: 0px; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 10;
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 50px;
  margin-left: -300px;
  border-right-style: solid;
  border-color: #10553a;
  border-width: 2.5px;
  border-radius: 5px;
}
  }   

  
.bottom {
    background-color: brown;
    border-width: 3px;
    border-color: aqua;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
  
}


