/* This is the styling of the cards, based on the conditions given in the index.ejs */

body {  margin-top: 0em; } 


.worry {
    border-color: rgb(47, 0, 255);
}

.worry-head {
    border-color: rgba(4, 0, 255, 0.555);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(0, 47, 255, 0.096);

}



.typeBtn{
    background-color: teal;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
}

.testBtn {
    background-color: rgb(0, 124, 128);
}

.radioBtn {
    width: 24%;
    color: black;
    background-color: rgba(0, 128, 128, 0.534);
    border-color: rgb(3, 17, 13);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    
    
}




.not {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.com {
    border-radius: 0px;
}
.al {
    border-radius: 0px;
}
.wor {
    margin-right: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;}
    


.userText {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-width: 0px;
    margin-top: 0px;
    width: 99%;
    margin-bottom: 20px;
}




.newNotification {
    background-color: white;
    border-color: teal;
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius:15px;
    width: 100%;
    border-width: 1px;

    border-bottom-width: 1px;
    border-style: solid;
}
.buttonText{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: 0px;
    width: 100%;
}


.alert1 {
    border-color: rgb(25, 90, 133);
}
.alert1-head {
    border-color: rgba(0, 102, 255, 0.555);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(44, 138, 141);
    color: white;
}






.notification {
    border-color: rgb(7, 26, 34);
    border-width: 2px;
    border-top-width: 2px;
    border-radius: 25px;

}
.notification-head {
    border-bottom-color: rgb(4, 13, 17);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(7, 27, 32);
    border-width: 3px;
    color: rgb(0, 0, 0);
    

}





.complaint {
    border-color: rgb(255, 0, 85);
}
.complaint-head {
    border-color: rgba(255, 0, 0, 0.555);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(255, 0, 0, 0.274);

}



