/* This is the styling of the cards, based on the conditions given in the index.ejs */

body {  margin-top: 0em; } 


.worry {
    border-color: rgb(47, 0, 255);
}

.worry-head {
    border-color: rgba(4, 0, 255, 0.555);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(0, 47, 255, 0.096);

}





.alert1 {
    border-color: rgb(25, 90, 133);
}
.alert1-head {
    border-color: rgba(0, 102, 255, 0.555);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(44, 62, 141, 0.096);

}







.notification {
    border-color: rgb(0, 204, 255);
}
.notification-head {
    border-bottom-color: rgba(0, 174, 255, 0.719);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(0, 204, 255, 0.267);

}





.complaint {
    border-color: rgb(255, 0, 85);
}
.complaint-head {
    border-color: rgba(255, 0, 0, 0.555);
    border-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(255, 0, 0, 0.274);

}



