body {
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Baloo 2', cursive; */
    height: 100px;
}


#logoFont {
font-family: 'Fredoka One', cursive;
 
}

h1 {
    font-family: 'Varela Round', sans-serif;
  
}

h2 {
    font-family: 'Varela Round', sans-serif;
  
}
h3 {
    font-family: 'Varela Round', sans-serif;
  
}
h4 {
    font-family: 'Varela Round', sans-serif;
  
}

