
    <link rel="stylesheet" href="/javascripts/stylesheets/style.css">



<h1>Login</h1>
<form action="/login" method="POST" class="validated-form" novalidate>

    <div class="form-div mb-4">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username", name="username" required>
    </div>
    
    <div class="form-div mb-4">
        <label class="form-label" for="passwprd">Password</label>
        <input class="form-control" type="password" id="password", name="password" required>
    </div>
    <button class="btn btn-success mb-3">Login</button>
</form>
